
body {
  font-family: Helvetica;
  margin: 0;
  background-image: url('./mountain.jpg');
}

input {
  padding: 5px;
  width: 150px;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  input {
    width: 280px;
  }
}
