.ca-footer {
  bottom: 0;
  background-color: #003366;
  height: 50px;
  left: 0;
  position: relative;
  width: 100%;
}

.ca-footer__copyright {
  color: #ff6600;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}

@media only screen and (min-width: 622px) {
  .ca-footer {
    position: fixed;
  }
}
